@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.container{
  margin: auto !important;
  height: 100%;
  width: 100%;
  padding: 20px 20px !important;
  display: flex !important;
  flex-direction: column !important;
}

.container h1{
  text-align: center !important;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
}

.container .parseButton{

    display: block !important;
    border: 1px solid #ccc !important;
    width: 10%;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.container .parseButton:hover{
  background: #7fc1e7;
  cursor: pointer;
}

.file-upload{
  display: flex !important;
  gap: 5px !important;
}

.file-upload:hover{
  cursor: pointer !important;
}

.granularity-control{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 1px solid #ccc !important;
  width: 80px !important;
}

.custom-file-upload {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
}

.hidden-input {
  display: none;
}

.custom-file-label {
  color: #333;
  font-weight: 500;
}
